<div class="mainCtn">
	<div style="float: left; width: 200px;">
		<div class="logoMain"></div>
	</div>
	<div style="float: right;">
		<% if (lang.code === 'es') { %>
			<a href="/culture/en">[english]</a>
		<% } else { %>
			<a href="/culture/es">[español]</a>
		<% } %>
	</div>
	<% if (!loggedIn) { %>
		<div style="margin: 20px 0; float:left;">
		    <div id="fb_login" class="fb_button" style="background-position: left -188px; float: left; margin-right: 7px;">
		    	<a class="fb_button_medium" href="/auth/facebook">
		    		<span class="fb_button_text">Sign in with Facebook</span>
		    	</a>
		    </div>
			<a href="/auth/twitter">
				<img src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png' style="border: 0px;" />
			</a>
			<a href="/auth/google">
				<img src='/images/signG.png' style="border: 0px; width: 155px; height: 25px;" />
			</a>
		</div>
	<% } else { %>
		<div style="margin: 20px 0; float:left;">
			<%= lang.home.welcome %> <img src="<%= userAuth.image %>" /> <%= userAuth.name %> 
			<a href="/logout" style="color:white;"><%= lang.home.logout %></a>
		</div>
		<h3><%= lang.home.roomsTitle %></h3>
		<table id="tbl-rooms" cellspacing="0">
			<thead>
				<tr>
					<th></th>
					<th><%= lang.home.roomStatusTlt %></th>
					<th><%= lang.home.roomsUsers %></th>
					<th><%= lang.home.roomsPlayers %></th>
				</tr>
			</thead>
			<tbody id="rooms">
				<tr>
					<td colspan="4"><%= lang.home.loadingRooms %></td>
				</tr>
			</tbody>
		</table>
		<script id="tr-room" type="text/x-jquery-tmpl">
		    <tr>
		    	<td style="width: 30px;"><a href='/rooms/${id}'>#${id}</a></td>
		    	<td>${getRoomStatus(state)}</td>
		    	<td>${clients}</td>
		    	<td>${players} / ${sits}</td>
		    </tr>
		</script>
	<% } %>
</div>
<script type="text/javascript" src="/js/main.js" ></script>

